Programas/flows.json
[
    {
        "id": "acfb0d3537c222f2",
        "type": "tab",
        "label": "Flow 10",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "739c5b1f449d92a7",
        "type": "mqtt in",
        "z": "acfb0d3537c222f2",
        "name": "",
        "topic": "maqueta/2sensores/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "09168218b0789c33",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "bd0bab2daac35c34"
            ]
        ]
    },
    {
        "id": "24937e9d804076f2",
        "type": "mqtt in",
        "z": "acfb0d3537c222f2",
        "name": "",
        "topic": "maqueta/2sensores/hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "aadcd4f0df223140"
            ]
        ]
    },
    {
        "id": "0e309fa75af264ff",
        "type": "mqtt in",
        "z": "acfb0d3537c222f2",
        "name": "",
        "topic": "maqueta/sensores/luz",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 340,
        "wires": [
            [
                "3a37e4ee2dcc1888"
            ]
        ]
    },
    {
        "id": "35c733acffa8027a",
        "type": "ui_button",
        "z": "acfb0d3537c222f2",
        "name": "",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Interruptor xeral",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "1ed8f9f0e4fabe60",
                "e4a724ace8a6a090",
                "5ce94280b1d7b75c"
            ]
        ]
    },
    {
        "id": "1ed8f9f0e4fabe60",
        "type": "mqtt out",
        "z": "acfb0d3537c222f2",
        "name": "maqueta/actuadores/led",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09168218b0789c33",
        "x": 470,
        "y": 40,
        "wires": []
    },
    {
        "id": "e4a724ace8a6a090",
        "type": "mqtt out",
        "z": "acfb0d3537c222f2",
        "name": "",
        "topic": "maqueta/actuadores/rele",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09168218b0789c33",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "5ce94280b1d7b75c",
        "type": "mqtt out",
        "z": "acfb0d3537c222f2",
        "name": "maqueta/actuadores/son",
        "topic": "maqueta/actuadores/son",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09168218b0789c33",
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "3a37e4ee2dcc1888",
        "type": "ui_text",
        "z": "acfb0d3537c222f2",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Luz",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 340,
        "wires": []
    },
    {
        "id": "bd0bab2daac35c34",
        "type": "ui_gauge",
        "z": "acfb0d3537c222f2",
        "name": "",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "aadcd4f0df223140",
        "type": "ui_chart",
        "z": "acfb0d3537c222f2",
        "name": "",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "09168218b0789c33",
        "type": "mqtt-broker",
        "name": "VPS_mqtt2",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]